/* Root Variables */
:root
{
    --headers-font: 'DM Serif Display', serif;
    --paragraphs-font: 'DM Sans', sans-serif;
    --logo-font: 'GFS Didot', serif;
    --first-background-color: #181b1d;
    --second-background-color: #252A2E;
    --contrast-color: #A8B5BF;
    --main-text-color: #FFFFFF;
}

/* Instruction to reset the initial settings of the html settings */
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Instruction to reset the initial settings of html */
html
{   
    /* Instrucion to set 1rem to 10px*/
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/*Instrucion to set the sizes oh the headers & paragraphs of the webpage*/
h1
{ 
    font-size: 6rem;
    font-family: var(--headers-font);
}

h2
{ 
    font-size: 4rem;
    font-family: var(--headers-font);
}

h3
{ 
    font-size: 2.8rem;
    font-family: var(--headers-font);
}

h4
{ 
    font-size: 2.2rem;
    font-family: var(--headers-font);
}

p, li, a
{ 
    font-size: 2rem;
    font-family: var(--paragraphs-font);
    list-style: none;
}

span, label
{
    font-size: 2rem;
    font-family: var(--paragraphs-font);
}

a
{
    text-decoration: none;
    cursor: pointer;
}

table,input,textarea
{
    font-family: var(--paragraphs-font);
}

/* Equal objects on the web*/

/*Standard sizes of every section of the web-page.*/
.section-content
{
    padding: 2rem 0rem; 
    max-width: 90%;
    height: auto;
    margin: auto;
}

/* Style of every button on the webpage. */
button
{
    cursor: pointer;
    background-color: transparent;
    border: 0.2rem solid var(--main-text-color);
    width: 20rem;
    display: block;
    margin: 2rem auto;
    padding: 1rem 2.2rem;
    font-size: 1.8rem;
    color: var(--main-text-color);
    position: relative;
    z-index: 1;
    border-radius: 5rem;
}

/* Style of the animation on every button on the webpage. */
button .overlay
{
    border-radius: 5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--contrast-color);
    z-index: -1;
    transition: all 1.5s ease;
}

/* Instruction that display the animation when the user put the mouse on the button. */
button:hover .overlay
{
    width: 100%;
}

/* Instruction to block one button to be displayed */
.block-button
{
    visibility: hidden;
}

/* 1.Header */
header
{
    background: var(--first-background-color);
    position: fixed;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 1rem;
    z-index: 10;
    border-radius: 0rem 0rem 1rem 1rem;
    border-bottom: 0.1rem solid var(--contrast-color);
}

/* My Logo. */
header .logo a
{
    font-family: var(--logo-font);
    color: var(--contrast-color);
    font-weight: bold;
    font-size: 3rem;
}

/* Lenguage toggle section.*/

/* Container */
header .lenguages
{
    display: none;
    /* display: flex;
    gap: 1.2rem; */
}

/* Text of the language options. */
header .lenguages .option
{
    color: var(--main-text-color);
    font-size: 2rem;
}

/* Check button as an input tag on the webpage */
header .lenguages .check
{
    position: relative;
    width: 5rem;
}

/* Oval above the check button */
header .lenguages .check:before
{
    content: '';
    position: absolute;
    width: 5rem;
    height: 2.5rem;
    background-color: var(--contrast-color);
    border-radius: 2.5rem;
}

/* Ball inside of the oval */
header .lenguages .check:after
{
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    background-color: var(--main-text-color);
    border: 0.2rem solid var(--contrast-color);
    box-sizing: border-box;

    transition: 0.25s;
}

/* Instruction that shows the display of the toggle button before the user makes a click. */
header .lenguages .check:checked:before
{
    background-color: var(--main-text-color);
}

/* Instruction that shows the display of the toggle button after the user makes a click in it. */
header .lenguages .check:checked:after
{
    left: 2.5rem;
    background-color: var(--contrast-color);
    border: 0.2rem solid var(--main-text-color);
}

/* Navigation section. */

/* Container of the options to navigate on the web page */
header nav ul
{
    display: flex;
    gap: 1.4rem;
}

/* Container of the options to navigate on the web page*/
header nav ul a
{
    text-align: none;
    color: var(--main-text-color);
    transition: 0.5s;
}

/* animation of the mouse near the text of the link */
header nav ul a:hover
{
    color: var(--contrast-color);
    font-size: 2.15rem;
}

/* Container of icon of options */
header .nav-responsive
{
    background-color: var(--contrast-color);
    color: var(--main-text-color);
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    display: none;
}

/* Icon of options */
header .nav-responsive img
{
    height: 3.5rem;
    width: 3.5rem;
}

/* 2. Home */

/* Section and background */
.home
{
    background: linear-gradient(rgba(30,35,38,.8), rgba(30,35,38,1)), url(../assets/images/Background-home.webp);
    background-size: cover;
    height: 100vh;
    color: var(--main-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container of the banner */
.home .banner
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    background-color: var(--first-background-color);
    border: 0.1rem solid var(--contrast-color);;
    border-radius: 4rem;
    max-width: 80%;
    width: 90rem;
    height: 50%;
    margin: auto;
    text-align: center;
}

/* My profile image */ 

.home .banner .img-profile
{
    height: auto;
    width: 25rem;
    border-radius: 100%;
    border: 0.4rem solid var(--contrast-color);
}


/* Name and position */
.home .name-position 
{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

/* Name */
.home .name-position h1
{
    padding-bottom: 0.3rem;
    border-bottom: 0.35rem solid var(--contrast-color);
}

/* Icons container */
.home .name-position .Front-End-Icons
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Icons */
.home .name-position .Front-End-Icons svg
{
    height: auto;
    width: 6rem;
    fill: var(--contrast-color);
}

/* Social-media container */
.home .banner .social-media
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

/* Links Container */
.home .banner .social-media a 
{
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-content: center;
    color: var(--main-text-color);
    text-decoration: none;
    border: 0.12rem solid var(--main-text-color);
    border-radius: 100%;
}

/* Social-media Icons */
.home .banner .social-media a svg
{
    width: 4rem;
    height: auto;
    fill: var(--main-text-color);
}

/* Animation of the buttons in the webpage */
.home .banner .social-media a:hover
{
    transition: 0.5s;
    background-color: var(--contrast-color);
    transform: scale(1.1);
}

/*3.About */

/* Container of the about section */
.about
{
    background-color: var(--first-background-color);
    color: var(--main-text-color);
}

/* About Title */
.about h2
{
    text-align: center;
    padding: 2rem 0;
}

/* Title Icon */
.about h2 i
{
    margin: 0 1rem;
}

/* About me Paragraph */
.about p
{
    line-height: 2.2rem;
    margin-bottom: 2rem;
}

/* Important things on my text */
.about p span
{
    color: var(--contrast-color);
    font-weight: bold;
}

/* Container of personal info and interest*/
.about .row
{
    display: flex;
}

/* Separation in two columns of 50% width each one */
.about .row .column
{
    width: 50%;
}

/* Headers of each column */
.about .row .column h3
{
    margin-bottom: 2.5rem;
    text-align: center;
}

/* Container of the list of Personal info */
.about .row .column .my-information
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Name of the attribute */
.about .row .column .my-information li strong
{
    display: inline-block;
    color: var(--contrast-color);
    width: 8rem;
    margin: 0rem 1rem;
}

/* Special block of the position */
.about .row .column .my-information li span
{
    background-color: var(--contrast-color);
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 0.5rem;
}

/* Container of interests */
.about .row .column .interests-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* interest icons containers*/
.about .row .column .interests-container .interest
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    width: 10rem;
    height: 10rem;
    background-color: var(--second-background-color);
    border-radius: 1rem;
    margin: 0 1.5rem 1.5rem 0;
}

/* Animation of the mouse */
.about .row .column .interests-container .interest:hover
{
    background-color: var(--contrast-color);
}

/* Name of the icons */
.about .row .column .interests-container .interest span
{
    font-size: 1.8rem;
}

/* Icons */
.about .row .column .interests-container .interest i
{
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* 4.Projects */

/* projects container */
.projects
{
    background-color: var(--second-background-color);
    color: var(--main-text-color);
}

/* project title */
.projects h2
{
    text-align: center;
    margin: 2rem 0;
}

/* Tabs trial */

.projects-container
{
    width: 100%;
    height: auto;
    margin: auto;
}

.projects-container .project-tabs
{
    padding: 1rem 0;
    margin: auto;
    border-radius: 3rem;
    width: 50%;
    height: auto;
    background-color: var(--first-background-color);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.projects-container .project-tabs .project-tab-option
{
    padding: 1rem;
    margin: 0 1rem 0 0;
    cursor: pointer;
    border-radius: 3rem;
    transition: all 0.5s ease;
}

.projects-container .project-tabs .project-tab-option:hover
{
    background-color: var(--contrast-color);
}

.projects-container .project-tabs .project-tab-option.active
{
    background-color: var(--contrast-color);
    color: var(--main-text-color);
    font-weight: bold;
}

.projects-container .carousel-container
{
    margin-top: 2rem;
    width: 100%;
    height: 100vh;
    border-radius: 3rem;
    position: relative;
    background-color: var(--first-background-color);
}

.projects-container .carousel-container .carousel
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    overflow: hidden;
    margin: auto;
    width: 95%;
    height: 95%;
    border-radius: 3rem;
    transition: all 1s ease;
}

.projects-container .carousel-container .carousel.active
{
    display: block;
    animation: fade 2s ease;
}

@keyframes fade 
{
    from 
    {
        opacity: 0;
    }
    to 
    {
        opacity: 1;
    }
}

/* Carousel Section */
.carousel .slider-container
{
    margin: 2rem 0;
    position: relative;
    height: 80%;
    width: 100%;
}

.carousel .slider-container .arrowButtons
{
    position: absolute;
    width: 6rem;
    height: 6rem;
    font-size: 4.5rem;
    background-color: rgba(1, 1, 1, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    border: 0.2rem solid var(--contrast-color);
    cursor: pointer;
}

.carousel .slider-container .arrowButtons:hover
{
    background-color: var(--contrast-color);
}

.arrowButtonLeft
{
    left: 1rem;
}

.arrowButtonRight
{
    right: 1rem;
}

/* Note to change the height of this section you have to change the height with 70% to fit the options section with the slider section of the carrousel. */
.carousel .slider-container .slider
{
    width: 400%;
    height: 100%;

    display: flex;
    transition: all 1.5s ease;
    transform: translateX(0%);
}

/* Note it has to have the 100% of to not oversize the height of the container.*/
.carousel .slider .overlay-block
{
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}

/* Note it has to have the 100% of to fit the complete height of the container.*/
.carousel .slider .overlay-block .img-slider
{
    width: 100%;
    height: 100%;
    border-radius: 5rem;
    border: 0.2rem solid var(--contrast-color);
    cursor: pointer;
    object-fit: cover;
}

.carousel .slider .overlay-block .overlay
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    width: 100%;
    height: 100%;
    border-radius: 5rem;
    border: 0.2rem solid var(--contrast-color);
    background: linear-gradient(rgba(24, 27, 29, 1),rgba(24, 27, 29, 1));

    transition: all 1s ease;
    opacity: 0;
    cursor: pointer;
}

/* overlay animation */
.carousel .slider .overlay-block .overlay:hover
{
    opacity: 1;
}

.carousel .slider .overlay-block .overlay .ic-overlay,
.spring-content
{
    fill:var(--main-text-color);
    height: 8rem;
    width: 8rem;
}

.carousel .options
{
    width: 30%;
    border-radius: 5rem;
    background-color: var(--second-background-color);
    padding: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.carousel .options .slide-option
{
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    border-radius: 5rem;
    border: 0.2rem solid var(--contrast-color);
    cursor: pointer;
}

.carousel .options .slide-option.active
{
    background-color: var(--contrast-color);
}

/* 5.Skills */

/* Skills container*/
.skills
{
    background-color: var(--first-background-color);
    color: var(--main-text-color);
}

/* Skills Tittle */
.skills h2
{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Acordion trial */

.accordion-header
{
    display: flex;
    align-items: center;
    background-color: var(--second-background-color);
    border-radius: 1rem;
    justify-content: space-between;
    width: 100%;
    padding: 0 3rem;
    cursor: pointer;
    border-bottom: 0.01rem solid var(--contrast-color);
}

.accordion-header:hover
{
    background-color: var(--contrast-color);
}

.accordion-header .h2
{
    margin-bottom: 1rem;
    padding: 1rem;
}

.accordion-header svg
{
    width: 7rem;
    height: 7rem;
} 

.accordion-block .accordion-header svg
{
    transition: all 1.8s ease;
}

.accordion-block.active .accordion-header svg
{
    transform: rotate(-90deg);
}

.accordion-block .skillsContainer
{
    background-color: var(--first-background-color);
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: all 1.8s ease; 
}

.accordion-block.active .skillsContainer
{
    height: 60vh;
    width: 100%;
    margin-top: 2rem;
}

.skillsContainer .skill-tabs
{
    padding: 1rem 0;
    margin-top: 2rem;
    margin: auto;
    border-radius: 3rem;
    width: 50%;
    background-color: var(--second-background-color);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.skillsContainer .skill-tabs .skill-tab-option
{
    padding: 1rem;
    margin: 0 1rem 0 0;
    cursor: pointer;
    border-radius: 3rem;
    transition: all 0.5s ease;
}

.skillsContainer .skill-tabs .skill-tab-option:hover
{
    background-color: var(--contrast-color);
}

.skillsContainer .skill-tabs .skill-tab-option.active
{
    background-color: var(--contrast-color);
    color: var(--main-text-color);
    font-weight: bold;
}

/* Container of skills columns */
.skillsContainer .skill-rows-container
{
    margin-top: 2rem;
    width: 100%;
    height: 40vh;
    border-radius: 3rem;
    position: relative;
    background-color: var(--second-background-color)
}

/* Format of the three rows */
.skillsContainer .skill-rows-container .skill-block
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    transition: all 1s ease;
}

.skillsContainer .skill-rows-container .skill-block.active
{
    display: block;
    animation: fade 2s ease;
}

/* Title of each column */
.skillsContainer .skill-rows-container .skill-block h3
{
    text-align: center;
    font-size: 3rem;
    margin: 2rem 0rem;
}

/* Container of the containers of icons */
.skillsContainer .skill-rows-container .skill-block .skill-row
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center; 
}

/* Container of the icon & name of the technology. */
.skillsContainer .skill-rows-container .skill-block .skill-row .skill
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: var(--first-background-color);
    border-radius: 2rem;
    width: 16.5rem;
    height: 14rem;
    transition: all 1s ease;
}

/* Animation when the mouse is above the button. */
.skillsContainer .skill-rows-container .skill-block .skill-row .skill:hover
{
    background-color: var(--contrast-color);
}

/* Name of each icon. */
.skillsContainer .skill-rows-container .skill-block .skill-row .skill span
{
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

/* Instruccion for the icons */
.skillsContainer .skill-rows-container .skill-block .skill-row .skill svg,
.skillsContainer .skill-rows-container .skill-block .skill-row .skill svg .spring-content 
{
    fill: var(--main-text-color);
    height: 6.5rem;
    width: 6.5rem;
}

/* 6. Education */

/* Container of the education section. */
.education
{
    background-color: var(--second-background-color);
    color: var(--main-text-color);
}
/* Education Title. */
.education h2
{
    text-align: center;
    padding: 2rem 0;
}

.education h3
{
    text-align: center;
    padding: 2rem 0;
    font-size: 3rem;
}

.education .options-education
{
    display: flex;
    justify-content: space-evenly;
    padding: 0 2rem;
}

.education .options-education .button-education
{
    cursor: pointer;
    background-color: transparent;
    border: 0.2rem solid var(--main-text-color);
    width: 20rem;
    display: block;
    margin: 2rem auto;
    padding: 1rem;
    font-size: 1.8rem;
    color: var(--main-text-color);
    z-index: 1;
    border-radius: 5rem;
    transition: all 1.5 ease;
}

.education .options-education .button-education:hover
{
    background-color: var(--contrast-color);
    font-weight: bold;
}

.education .options-education .button-education.active
{
    background-color: var(--contrast-color);
    font-weight: bold;
}

.education .options-education .title-education
{
    display: none;
}

.education .options-education .title-education.active
{
    display: block;
    font-weight: bold;
    font-size: 3rem;
}

/* Container of the 2 columns of education. */
.education .columns-container
{
    display: flex;
    justify-content: space-between;
}

/* Design of the columns of the section. */
.education .columns-container .column
{
    width: 49%;
    padding: 0 2rem;
}

/* Title of the column. */
.education .columns-container .column h3
{
    text-align: center;
    margin-bottom: 1rem;
}

/* Column of the left "Degrees". */
.education .columns-container .left
{
    border-right: 0.2rem solid var(--first-background-color);
}

/* Column of the right "Certifications". */
.education .columns-container .right
{
    border-left: 0.2rem solid var(--first-background-color);
}

/* Containers of the education blocks. */
.education .columns-container .item
{
    display: none;
}

.education .columns-container .item.active
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5rem;
    min-height: 45rem;
    margin-bottom: 3rem;
    background-color: var(--first-background-color);
    position: relative;
}

.education .columns-container .item .type-degree
{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.education .columns-container .item .text-item
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1rem;
}

/* Container of the title and icons. */
.education .columns-container .item .content
{
    display: flex;
    justify-content: space-between;
}

/* Container of only the titles. */
.education .columns-container .item .content .content-headers
{
    display: flex;
    flex-direction: column;
}

/* Container of only the icons. */
.education .columns-container .item .content .content-ic
{
    display: flex;
    gap: 1rem;
}

/* Icons of technologies used. */
.education .columns-container .item .content svg ,
.education .columns-container .item .content svg .spring-content
{
    fill: var(--main-text-color);
    height: 4.5rem;
    width: 4.5rem;
}

/* Name of the title */
.education .columns-container .item h4
{
    font-size: 2.2rem;
}

/* Name of the Institution */
.education .columns-container .item .institution
{
    color: var(--contrast-color);
    font-size: 2rem;
    font-weight: bold;
}

/* Dates of begining and ending */
.education .columns-container .item .date
{
    color: var(--contrast-color);
    font-size: 1.6rem;
}

/* Important parts of the text. */
.education .columns-container .item span
{
    color: var(--contrast-color);
    font-weight: bold;
}

/* Paragraphs */
.education .columns-container .item p
{
    line-height: 2.5rem;
}

/* Border and spacing left */
.education .columns-container .lft
{
    border-right: 0.2rem solid var(--contrast-color);
    margin-right: 2rem;
}

/* Border and spacing right */
.education .columns-container .rgt
{
    border-left: 0.2rem solid var(--contrast-color);
    margin-left: 2rem;
}

/* Line who joins the circle and the left border */
.education .columns-container .item .conectorl
{
    height: 0.2rem;
    background-color: var(--contrast-color);
    width: 4.7rem;
    position: absolute;
    top: 50%;
    right: -4.7rem;
    z-index: 5;
}

/* Cirle of the left block */
.education .columns-container .item .conectorl .circlel
{
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--contrast-color);
    float: right;
    position: relative;
    bottom: 0.4rem;
}

/* Line who joins the circle and the right border */
.education .columns-container .item .conectorr
{
    height: 0.2rem;
    background-color: var(--contrast-color);
    width: 4.7rem;
    position: absolute;
    top: 50%;
    left: -4.7rem;
    z-index: 5;
}

/* Cirle of the right block */
.education .columns-container .item .conectorr .circler
{
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--contrast-color);
    float: left;
    position: relative;
    bottom: 0.4rem;
}

/* 7.Contact*/

/* Contact container */
.contact
{
    background: linear-gradient(rgba(30,35,38,.8), rgba(30,35,38,1)), url(../assets/images/background-contact.webp);
    background-size: cover;
    background-color: var(--first-background-color);
    color: var(--main-text-color);
}

/* Tittle of the contact section */
.contact .section-content h2
{
    text-align: center;
    padding: 2rem 0;
}

/* Container of the form section */
.contact .section-content form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* Styles of the inputs */
.contact .section-content input, .contact .section-content textarea
{
    display: block;
    width: 90vw;
    padding: 1.8rem;
    border: none;
    margin-bottom: 2rem;
    background-color: var(--second-background-color);
    color: var(--main-text-color);
    font-size: 1.8rem;
    resize: none;
}

/* Instructions to animate the inputs */
.contact .section-content input:focus, .contact .section-content textarea:focus
{
    border-color: var(--contrast-color);
    box-shadow: 0 0 0 0.1rem var(--contrast-color);
}

/* Footer */

/* Footer Container */
footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--second-background-color);
    color: var(--main-text-color);
    padding: 5rem 0rem 3rem 0rem;
    text-align: center;
    position: relative;
    width: 100%;
}

/* Text of the footer */
footer .footer-text span
{
    font-weight: bold;
}

/* Social media container */
footer .social-media
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* Container of the Icons */
footer .social-media a
{
    display: flex;
    justify-content: center;
    align-content: center;
    color: var(--main-text-color);
    text-decoration: none;
    width: 7rem;
    height: 7rem;
    border: 0.12rem solid var(--main-text-color);
    border-radius: 100%;
}

/* Properties of the Icons */
footer .social-media a svg
{
    width: 5rem;
    height: auto;
    fill: var(--main-text-color);
}

/* Animations of the icons */
footer .social-media a:hover
{
    background-color: var(--contrast-color);
    transform: scale(1.1);
}

/* Button to come back to the home section. */
footer .back
{
    display: block;
    width: 5rem;
    height: 5rem;
    background-color: var(--contrast-color);
    color: var(--main-text-color);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -2.5rem;
    border-radius: 50%;
    line-height: 5rem;
    font-size: 1.8rem;
}

/* Responsive */
@media (max-width:980px)
{
    /* Header */

    /* Horizontal Options. */
    nav
    {
        display: none;
    }

    /* Vertical Options Icon */
    header .nav-responsive
    {
        display: block;
    }

    /* Instructions to display from JavaScript the vertical options */
    nav.responsive
    {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 2.5rem;
        top: 7.5rem;
        background-color: var(--second-background-color);
        width: 18rem;
    }

    /* Container of the list */
    nav.responsive ul
    {
        display: block !important;
    }

    /* Style of the list elements */
    nav.responsive ul li
    {
        border-bottom: 0.1rem solid var(--main-text-color);
        padding: 1rem 0rem;
        text-align: center;
    }

    .home .banner
    {
        margin-top: 10rem;
        flex-direction: column;
        height: 80%;
        max-width: 80%;
        width: 45%;
        justify-content: space-between;
    }

    .home .banner .img-profile
    {
        width: 20rem;
    }

    .home .banner .name-position h1
    {
        font-size: 5rem;
    }

    .home .banner .name-position h2
    {
        font-size: 3rem;
    }

    .home .name-position .Front-End-Icons svg
    {
        width: 4.2rem;
    }

    .home .banner .social-media
    {
        flex-direction: row;
    }

    .home .banner .social-media a 
    {
        width: 5rem;
        height: 5rem;
    }

    .home .banner .social-media a svg
    {
        width: 3rem;
    }

    /* Education */
    .education .row .item .content
    {
        flex-direction: column;
    }
} 

@media (max-width:900px)
{
    /* Projects */
    .projects .section-content .project
    {
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 4rem;
    }

    .projects .section-content .project .project-col
    {
        width: 100%;
    }

    .projects .section-content .project .project-col img
    {
        width: 100%
    }

    .projects .section-content .project .img .overlay-block .overlay
    {
        width: 100%;
    }

    /* Skills */
    .skills
    {
        max-height: fit-content;
    }

    .skills .skill-row
    {
        flex-direction: column;
    }

    .skills .skill-row .skill-column 
    {
        text-align: center;
        border-right: none;
        width: 100%;
        margin-bottom: 4rem;
    }

    .skills .skill-row .skill-column h3
    {
        margin: 2rem 0rem
    }

    /* Education */

    .education .row .item .content .content-ic
    {
        justify-content: center;
    }

}

@media (max-width:800px)
{
    /* About */
    .about .section-content p
    {
        margin-bottom: 0;
        text-align: center;
    }

    .about .row
    {
        flex-direction: column;
        align-items: center;       
    }

    .about .row .column
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
        width: 100%;       
    }

    .about .row .column ul
    {
        width: 100%;
        text-align: center;
    }

    .about .row .column ul li
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about .row .column ul li strong
    {
        text-align: center;
    }

    /* Education */

    .education .row
    {
        display: block;
    }

    .education .row .item
    {
        text-align: center;
    }

    .education .row .column
    {
        width: 100%;
    }

    .education .row .left
    {
        border-right: none;
    }

    .education .row .right
    {
        border-left: none;
    }

    .education .row .lft
    {
        border-right: none;
        margin-right: 0;
    }

    .education .row .rgt
    {
        border-left: none;
        margin-left: 0;
    }

    .education .row .lft .conectorl
    {
        display: none;
    }

    .education .row .rgt .conectorr
    {
        display: none;
    }

    /* Projects */
    .projects .section-content
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* Contact */
    .contact .section-content
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact form
    {
        width: 95%;
    }

    .contact form input, .contact form textarea
    {
        text-align: center;
    }
}

@media (max-width:720px)
{
    .home .banner
    {
        width: 60%;
    }

}

@media (max-width:550px)
{
    header .logo a
    {
        display: none;
    }

    .header-container header .logo
    {
        display: none;
    }

    .home .banner
    {
        width: 70%;
    }

    /* Projects */
    .projects .section-content .project .img .overlay-block .overlay .ic-overlay
    {
        height: 6rem;
        width: 6rem;
    }

}

@media (max-width:450px)
{
    .home .banner
    {
        width: 95%;
    }

    .home .banner .name-position h1
    {
        font-size: 4.2rem;
    }

    .home .banner .name-position h2
    {
        font-size: 2.2rem;
    }
}

@media (max-width:360px)
{
    
}





