/* Root Variables */
:root
{
    --headers-font: 'DM Serif Display', serif;
    --paragraphs-font: 'DM Sans', sans-serif;
    --logo-font: 'GFS Didot', serif;
    --first-background-color: #181b1d;
    --second-background-color: #252A2E;
    --contrast-color: #A8B5BF;
    --main-text-color: #FFFFFF;
}

/* Instruction to reset the initial settings of the html settings */
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Instruction to reset the initial settings of html */
html
{   
    /* Instrucion to set 1rem to 10px*/
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/*Instrucion to set the sizes oh the headers & paragraphs of the webpage*/
h1
{ 
    font-size: 6rem;
    font-family: var(--headers-font);
}

h2
{ 
    font-size: 4rem;
    font-family: var(--headers-font);
}

h3
{ 
    font-size: 2.8rem;
    font-family: var(--headers-font);
}

h4
{ 
    font-size: 2.2rem;
    font-family: var(--headers-font);
}

p, li, a
{ 
    font-size: 2rem;
    font-family: var(--paragraphs-font);
    list-style: none;
}

span
{
    font-size: 2rem;
    font-family: var(--paragraphs-font);
}

a
{
    text-decoration: none;
    cursor: pointer;
}

table,input,textarea
{
    font-family: var(--paragraphs-font);
}

/* Equal objects on the web*/

/*Standard sizes of every section of the web-page.*/
.section-content
{
    max-width: 90vw;
    height: auto;
    margin: auto;
}

/* Style of every button on the webpage. */
button
{
    cursor: pointer;
    background-color: transparent;
    border: 0.2rem solid var(--main-text-color);
    width: fit-content;
    display: block;
    margin: 2rem auto;
    padding: 1rem 2.2rem;
    font-size: 1.6rem;
    color: var(--main-text-color);
    position: relative;
    z-index: 1;
}

/* Style of the animation on every button on the webpage. */
button .overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--contrast-color);
    z-index: -1;
    transition: 1s;
}

/* Instruction that display the animation when the user put the mouse on the button. */
button:hover .overlay
{
    width: 100%;
}

/* Instruction to block one button to be displayed */
.block-button
{
    display: none;
}

/* 1.Header */
header
{
    background: var(--first-background-color);
    position: fixed;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 1rem;
    z-index: 10;
}

/* My Logo. */
header .logo a
{
    font-family: var(--logo-font);
    color: var(--contrast-color);
    font-weight: bold;
    font-size: 3rem;
}

/* Lenguage toggle section.*/

/* Container */
header .lenguages
{
    display: flex;
    gap: 1.2rem;
}

/* Text of the language options. */
header .lenguages .option
{
    color: var(--main-text-color);
    font-size: 2rem;
}

/* Check button as an input tag on the webpage */
header .lenguages .check
{
    position: relative;
    width: 5rem;
}

/* Oval above the check button */
header .lenguages .check:before
{
    content: '';
    position: absolute;
    width: 5rem;
    height: 2.5rem;
    background-color: var(--contrast-color);
    border-radius: 2.5rem;
}

/* Ball inside of the oval */
header .lenguages .check:after
{
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    background-color: var(--main-text-color);
    border: 0.2rem solid var(--contrast-color);
    box-sizing: border-box;

    transition: 0.25s;
}

/* Instruction that shows the display of the toggle button before the user makes a click. */
header .lenguages .check:checked:before
{
    background-color: var(--main-text-color);
}

/* Instruction that shows the display of the toggle button after the user makes a click in it. */
header .lenguages .check:checked:after
{
    left: 2.5rem;
    background-color: var(--contrast-color);
    border: 0.2rem solid var(--main-text-color);
}

/* 1c Lenguage toggle section. */

/* Container of the options to navigate on the web page */
header nav ul
{
    display: flex;
    gap: 1.4rem;
}

/* Container of the options to navigate on the web page*/
header nav ul a
{
    text-align: none;
    color: var(--main-text-color);
    transition: 0.5s;
}

/* animation of the mouse near the text of the link */
header nav ul a:hover
{
    color: var(--contrast-color);
    font-size: 2.15rem;
}

/* Container of icon of options */
header .nav-responsive
{
    background-color: var(--contrast-color);
    color: var(--main-text-color);
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    display: none;
}

/* Icon of options */
header .nav-responsive img
{
    height: 3.5rem;
    width: 3.5rem;
}

/* 2. Home */

/* Section and background */
.home
{
    background: linear-gradient(rgba(30,35,38,.8), rgba(30,35,38,1)), url(../assets/images/Background-home.jpg);
    background-size: cover;
    color: var(--main-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container of the banner */
.home .banner
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem 0;
    border-radius: 4rem;
    background-color: var(--first-background-color);
    width: 85%;
    height: auto;
    margin: auto;
    text-align: center;
}

/* My profile image */
.home .banner .img-profile
{
    display: block;
    width: 30rem;
    height: auto;
    margin: auto;
    border-radius: 100%;
    border: 0.4rem solid var(--contrast-color);
}

/* Name and position */
.home .name-position 
{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

/* Name */
.home .name-position h1
{
    padding-bottom: 0.3rem;
    border-bottom: 0.35rem solid var(--contrast-color);
}
/* Icons container */
.home .name-position .Front-End-Icons
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Icons */
.home .name-position .Front-End-Icons svg
{
    height: auto;
    width: 6rem;
    fill: var(--contrast-color);
}

/* Social-media container */
.home .banner .social-media
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* Links Container */
.home .banner .social-media a 
{
    color: var(--main-text-color);
    text-decoration: none;
    width: 7rem;
    height: 7rem;
    border: 0.12rem solid var(--main-text-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Social-media Icons */
.home .banner .social-media a svg
{
    width: 5rem;
    height: auto;
    fill: var(--main-text-color);
}

/* Animation of the buttons in the webpage */
.home .banner .social-media a:hover
{
    transition: 0.5s;
    background-color: var(--contrast-color);
    transform: scale(1.1);
}

/*3.About */

/* Container of the about section */
.about
{
    background-color: var(--first-background-color);
    color: var(--main-text-color);
    padding: 2rem 2rem;
}

/* About Title */
.about h2
{
    text-align: center;
    padding: 2rem 0;
}

/* Title Icon */
.about h2 i
{
    margin: 0 1rem;
}

/* About me Paragraph */
.about p
{
    line-height: 2.2rem;
    margin-bottom: 2rem;
}

/* Important things on my text */
.about p span
{
    color: var(--contrast-color);
    font-weight: bold;
}

/* Container of personal info and interest*/
.about .row
{
    display: flex;
}

/* Separation in two columns of 50% width each one */
.about .row .column
{
    width: 50%;
}

/* Headers of each column */
.about .row .column h3
{
    margin-bottom: 2.5rem;
    text-align: center;
}

/* Container of the list of Personal info */
.about .row .column ul
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Name of the attribute */
.about .row .column ul li strong
{
    display: inline-block;
    color: var(--contrast-color);
    width: 8rem;
    margin: 0rem 1rem;
}

/* Special block of the position */
.about .row .column ul li span
{
    background-color: var(--contrast-color);
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 0.5rem;
}

/* Container of interests */
.about .row .column .interests-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* interest icons containers*/
.about .row .column .interests-container .interest
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    width: 10rem;
    height: 10rem;
    background-color: var(--second-background-color);
    border-radius: 1rem;
    margin: 0 1.5rem 1.5rem 0;
}

/* Animation of the mouse */
.about .row .column .interests-container .interest:hover
{
    background-color: var(--contrast-color);
}

/* Name of the icons */
.about .row .column .interests-container .interest span
{
    font-size: 1.8rem;
}

/* Icons */
.about .row .column .interests-container .interest i
{
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* 4.Projects */

/* projects container */
.projects
{
    background-color: var(--second-background-color);
    color: var(--main-text-color);
    padding: 2rem 2rem;
}

/* project title */
.projects h2
{
    text-align: center;
    margin: 2rem 0;
}

/* important parts of the paragraphs */
.projects p span
{
    color: #A8B5BF;
    font-weight: bold;
}

/* container of the section of projects */
.projects .section-content .project
{
    display: flex;
    flex-direction: row;
    padding: 2rem 0rem;
}

/* division of the container in two columns */
.projects .section-content .project .project-col
{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

/* technologies used */
.projects .section-content .project .project-col h4
{
    color: var(--contrast-color);
}

/* overlay container */
.projects .section-content .project .img .overlay-block
{
    position: relative;
}

/* images of the projects */
.projects .section-content .project .project-col img
{
    width: 40rem;
    height: 25rem;
    cursor: pointer;
    border: 0.2rem solid var(--contrast-color);
    border-radius: 5rem;
}

/* overlay icon container */
.projects .section-content .project .img .overlay-block .overlay
{
    position: absolute;
    top: 0;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    border-radius: 5rem;
    border: 0.2rem solid var(--contrast-color);
    background: linear-gradient(rgba(24, 27, 29, 1),rgba(24, 27, 29, 1));
    transition: 1s;
    opacity: 0;
    cursor: pointer;
}

/* icon properties */
.projects .section-content .project .img .overlay-block .overlay .ic-overlay
{
    height: 8rem;
    width: 8rem;
}

/* overlay animation */
.projects .section-content .project .img .overlay-block .overlay:hover
{
    opacity: 1;
}

/* 5.Skills */

/* Skills container*/
.skills
{
    background-color: var(--first-background-color);
    color: var(--main-text-color);
    padding: 2rem 2rem;
}

/* Skills Tittle */
.skills h2
{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Container of skills columns */
.skills .skill-row
{
    display: flex;
}

/* Format of the three columns */
.skills .skill-column
{
    width: 30vw;
    text-align: center;
}

/* Title of each column */
.skills .skill-row .skill-column h3
{
    margin-bottom: 2rem;
}

/* Container of the containers of icons */
.skills .skill-row .skill-column .skill-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-height: 100vh;
    gap: 1rem; 
}

/* Container of the icon & name of the technology. */
.skills .skill-row .skill-column .skill-container .skill
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    width: 14rem;
    height: 14rem;
    background-color: var(--second-background-color);
    border-radius: 2rem;
    transition: 0.3s;
}

/* Animation when the mouse is above the button. */
.skills .skill-row .skill-column .skill-container .skill:hover
{
    background-color: var(--contrast-color);
}

/* Name of each icon. */
.skills .skill-row .skill-column .skill-container .skill span
{
    font-size: 1.8rem;
    font-weight: bold;
}

/* Instruccion for the icons */
.skills .skill-row .skill-column .skill-container .skill svg,
.skills .skill-row .skill-column .skill-container .skill svg .spring-content 
{
    fill: var(--main-text-color);
    height: 8rem;
    width: 8rem;
}

/* 6. Education */

/* Container of the education section. */
.education
{
    background-color: var(--second-background-color);
    color: var(--main-text-color);
    padding: 2rem 2rem;
}
/* Education Title. */
.education h2
{
    text-align: center;
    padding: 2rem 0;
}

/* Container of the 2 columns of education. */
.education .row
{
    display: flex;
    justify-content: space-between;
}

/* Design of the columns of the section. */
.education .row .column
{
    width: 49%;
    padding: 0 2rem;
}

/* Title of the column. */
.education .row .column h3
{
    text-align: center;
    margin-bottom: 1rem;
}

/* Column of the left "Degrees". */
.education .row .left
{
    border-right: 0.2rem solid var(--first-background-color);
}

/* Column of the right "Certifications". */
.education .row .right
{
    border-left: 0.2rem solid var(--first-background-color);
}

/* Containers of the education blocks. */
.education .row .item
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem;
    min-height: 45rem;
    margin-bottom: 3rem;
    background-color: var(--first-background-color);
    position: relative;
}

/* Container of the title and icons. */
.education .row .item .content
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

/* Container of only the titles. */
.education .row .item .content .content-headers
{
    display: flex;
    flex-direction: column;
}

/* Container of only the icons. */
.education .row .item .content .content-ic
{
    display: flex;
    gap: 1rem;
}

/* Icons of technologies used. */
.education .row .item .content svg ,
.education .row .item .content svg .spring-content
{
    fill: var(--main-text-color);
    height: 5rem;
    width: 5rem;
}

/* Name of the title */
.education .row .item h4
{
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

/* Name of the Institution */
.education .row .item .institution
{
    color: var(--contrast-color);
    font-size: 2.2rem;
    font-weight: bold;
}

/* Dates of begining and ending */
.education .row .item .date
{
    color: var(--contrast-color);
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

/* Important parts of the text. */
.education .row .item span
{
    color: var(--contrast-color);
    font-weight: bold;
}

/* Paragraphs */
.education .row .item p
{
    line-height: 2.4rem;
}

/* Border and spacing left */
.education .row .lft
{
    border-right: 0.2rem solid var(--contrast-color);
    margin-right: 2rem;
}

/* Border and spacing right */
.education .row .rgt
{
    border-left: 0.2rem solid var(--contrast-color);
    margin-left: 2rem;
}

/* Line who joins the circle and the left border */
.education .row .item .conectorl
{
    height: 0.2rem;
    background-color: var(--contrast-color);
    width: 4.7rem;
    position: absolute;
    top: 50%;
    right: -4.7rem;
    z-index: 5;
}

/* Cirle of the left block */
.education .row .item .conectorl .circlel
{
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--contrast-color);
    float: right;
    position: relative;
    bottom: 0.4rem;
}

/* Line who joins the circle and the right border */
.education .row .item .conectorr
{
    height: 0.2rem;
    background-color: var(--contrast-color);
    width: 4.7rem;
    position: absolute;
    top: 50%;
    left: -4.7rem;
    z-index: 5;
}

/* Cirle of the right block */
.education .row .item .conectorr .circler
{
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--contrast-color);
    float: left;
    position: relative;
    bottom: 0.4rem;
}

/* 7.Contact*/

/* Contact container */
.contact
{
    background: linear-gradient(rgba(30,35,38,.8), rgba(30,35,38,1)), url(../assets/images/background-contact.jpg);
    background-size: cover;
    background-color: var(--first-background-color);
    color: var(--main-text-color);
    padding: 5rem 0rem;
}

/* Tittle of the contact section */
.contact .section-content h2
{
    text-align: center;
    padding: 2rem 0;
}

.contact .section-content form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.contact .section-content input, .contact .section-content textarea
{
    display: block;
    width: 95%;
    padding: 1.8rem;
    border: none;
    margin-bottom: 2rem;
    background-color: var(--second-background-color);
    color: var(--main-text-color);
    font-size: 1.8rem;
}

.contact .section-content input:focus, .contact .section-content textarea:focus
{
    border-color: var(--contrast-color);
    box-shadow: 0 0 0 0.1rem var(--contrast-color);
}

/* Footer */

footer
{
    background-color: var(--second-background-color);
    color: var(--main-text-color);
    padding: 5rem 0rem 3rem 0rem;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .social-media
{
    margin-bottom: 2rem;
}

footer .social-media a
{
    color: var(--main-text-color);
    display: inline-block;
    text-decoration: none;
    border: 0.1rem solid var(--contrast-color);
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    margin: 2rem 0.5rem;
    transition: 0.5s;
    font-size: 3rem;
}

footer .social-media a:hover
{
    background-color: var(--contrast-color);
}

footer .back
{
    display: block;
    width: 5rem;
    height: 5rem;
    background-color: var(--contrast-color);
    color: var(--main-text-color);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -2.5rem;
    border-radius: 50%;
    line-height: 5rem;
    font-size: 1.8rem;
}

/* Responsive */

@media (max-width:980px)
{
    /* Header */
    /* Horizontal Options. */
    nav
    {
        display: none;
    }

    /* Vertical Options */
    header .nav-responsive
    {
        display: block;
    }

    /* Instructions for JavaScript */
    nav.responsive
    {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 2.5rem;
        top: 7.5rem;
        background-color: var(--second-background-color);
        width: 18rem;
    }

    nav.responsive ul
    {
        display: block !important;
    }

    nav.responsive ul li
    {
        border-bottom: 0.1rem solid var(--main-text-color);
        padding: 1rem 0rem;
        text-align: center;
    }

    .education .row .item .content
    {
        flex-direction: column;
    }
} 

@media (max-width:900px)
{
    /* Projects */
    .projects .section-content .project
    {
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 4rem;
    }

    .projects .section-content .project .project-col
    {
        width: 100%;
    }

    .projects .section-content .project .project-col img
    {
        width: 100%
    }

    .projects .section-content .project .img .overlay-block .overlay
    {
        width: 100%;
    }
    /* Skills */
    .skills
    {
        max-height: fit-content;
    }

    .skills .skill-column .skill-row
    {
        text-align: center;
        border-right: none;
        width: 100%;
        margin-bottom: 4rem;
    }

    .skills .skill-column .skill-row h3
    {
        margin: 2rem 0rem
    }

    /* Education */

    .education .row .item .content .content-ic
    {
        justify-content: center;
    }

}

@media (max-width:700px)
{
    /* About */
    .about .section-content p
    {
        margin-bottom: 0;
        text-align: center;
    }

    .about .row
    {
        flex-direction: column;
        align-items: center;       
    }

    .about .row .column
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
        width: 100%;       
    }

    .about .row .column ul
    {
        width: 100%;
        text-align: center;
    }

    .about .row .column ul li
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about .row .column ul li strong
    {
        text-align: center;
    }

    /* Education */

    .education .row
    {
        display: block;
    }

    .education .row .item
    {
        text-align: center;
    }

    .education .row .column
    {
        width: 100%;
    }

    .education .row .left
    {
        border-right: none;
    }

    .education .row .right
    {
        border-left: none;
    }

    .education .row .lft
    {
        border-right: none;
        margin-right: 0;
    }

    .education .row .rgt
    {
        border-left: none;
        margin-left: 0;
    }

    .education .row .lft .conectorl
    {
        display: none;
    }

    .education .row .rgt .conectorr
    {
        display: none;
    }

    /* Projects */
    .projects .section-content
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* Contact */
    .contact .section-content
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact form
    {
        width: 95%;
    }

    .contact form input, .contact form textarea
    {
        text-align: center;
    }
}

@media (max-width:550px)
{
    .header-container header .logo
    {
        display: none;
    }

    /* Projects */
    .projects .section-content .project .img .overlay-block .overlay .ic-overlay
    {
        height: 6rem;
        width: 6rem;
    }

}






